{% extends 'base.html.twig' %}

{% block title %}BudgetMonth{% endblock %}

{% block body %}
    <h1>BudgetMonth</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ budget_month.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ budget_month.date ? budget_month.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>InitialBudget</th>
                <td>{{ budget_month.initialBudget }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_budget_month_index') }}">back to list</a>

    <a href="{{ path('app_budget_month_edit', {'id': budget_month.id}) }}">edit</a>

    {{ include('budget_month/_delete_form.html.twig') }}
{% endblock %}
